

.d-flex button{
    margin: 1.5em 0.5em;
    padding: 0.3em 1.4em;
}

.d-flex table{
    margin: 1em 10em;
}

table .btnedit{
    color: lightsalmon;
    cursor: pointer;
}

.success{
    background-color: lightgreen;
    padding: 1em;
}

.error{
    background-color: tomato;
    padding: 1em;
}
button {
  position: relative;
  margin: 4px auto 0;
  background: #000;
  font-size: 18px;
  padding: 0;
  font-family: gerogia, serif;
  border: none;
  padding: 10px 40px;
  width: 100%;
  background: #000;
  color: #fff;
  font-size: 16px;
  max-width: 250px;
  min-width: 100px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: .2s;
} button:hover {
  letter-spacing: 3px;
} button:active {
  transform: scale(1.2);
}

button:before, button:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px; 
  background: linear-gradient(45deg, #000000, #191919, #323232, #666666, #cccccc, #ffffff, #ffff00, #e5e500, #cccc00, #999900, #666600, #4c4c00, #333300, #141400, #161600, #191900);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: linear-shadow 25s linear infinite;
}

button:before {
  filter: blur(20px);
}

@keyframes linear-shadow {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
